<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang = "en" dir="ltr">
        <meta name="author" content ="Allison Chen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>How to build a website</title>
        <link href="../styles/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <a href="../index.html"><h1>HTML Vocab</h1></a>
        </header>

        <main>
            <div class="flex-box">
                <div class="flex-con">
                    <h3>Elements</h3>
                    <p>an element is represented by lil signs <> to indicate the start, content, and end of some piece of info</p>
                    <p>most elements will have a both an opening and closing tag, so <> and then </> after the end</p>
                </div>
                <div class="flex-con">
                    <h3>Text to Audio</h3>
                    <p>There are many elements that dont bring visual meaning, but with text to audio activated will give semantic meaning</p>
                </div>
                <div class="flex-con">
                    <h3>Accessibility</h3>
                    <p>Keep accessibility in mind! Make text easy to read, add visual cues with links, hovers etc.</p>
                </div>
            </div>

            <h2>Basic Markup Elements</h2>
            <h3>You should probably use all of these</h3>
            <div class="grid-container">
                <div class="word">!DOCTYPE html</div>
                <div class="def">yeah just use it to indicate in visual studio code that this is indeed html</div>
                <div class="word">html</div>
                <div class="def">encase all elements inside the html element</div>
                <div class="word">head</div>
                <div class="def">contains meta tags, and other information for the website</div>
                <div class="word">meta</div>
                <div class="def">adds meta tags which can be helpful for SEO. common meta tags:
                        <ul class="none">
                            <li>meta charset="UTF-8" lang = "en" dir="ltr"</li>
                            <li>meta name="author" content ="Allison Chen"</li>
                            <li>meta name="viewport" content="width=device-width, initial-scale=1"</li>
                        </ul>
                </div>
                <div class="word">body</div>
                <div class="def">encase any text of any kind in the body tag</div>
                <div class="word">header</div>
                <div class="def">text that displays at the top of a page</div>
                <div class="word">main</div>
                <div class="def">where the main text goes</div>
                <div class="word">footer</div>
                <div class="def">text that displays at the bottom of the page</div>
                <div class="word">p</div>
                <div class="def">p stands for paragraph. for the bulk of written information use this!</div>
                <div class="word">h1,h2,h3,h4,h5</div>
                <div class="def">these are headers, which slowly descend in size. 
                    <h1>h1 being the largest,</h1> and 
                    <h5>h5 being the smallest</h5></div>
            </div>

            <h2>Essentials</h2>
            <div class="grid-container">
                <div class="word">div</div>
                <div class="def">while this provides no semantic meaning, divs are very useful for blocking out text and content into grids!</div>
                <div class="word">img</div>
                <div class="def">embed an image, and it is a single element with no closing tag!</div>
                <div class="word">ul</div>
                <div class="def">    
                    <ul>
                        <li>this</li>
                        <li>list</li>
                        <li>has bullets</li>
                    </ul>
                </div>
                <div class="word">ol</div>
                <div class="def">
                    <ol>
                        <li>this</li>
                        <li>list</li>
                        <li>has numbers</li>
                    </ol>
                </div>
                <div class="word">li</div>
                <div class="def">every bullet or line in a list</div>
                <div class="word">iframe</div>
                <div class="def">use iframe to embed videos Especially if it's a youtube video, the iframe is available through the share settings</div>
                </div>
            </div>


        </main>
        <footer>
            <ul id="footer-items">
                <li>&copy; 2022 Allison Chen</li>
                <li></li>
                <li><a href="../index.html">home</a></li>
            </ul>
        </footer>

    </body>
</html>