<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang = "en" dir="ltr">
        <meta name="author" content ="Allison Chen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>How to build a website</title>
        <link href="styles/style.css" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>How To Code Your Way to a Website</h1>
            <h2>(using <a href="pages/html.html">html</a> and <a href="pages/css.html">css</a>)</h2>
            <h2>hover over to discover!</h2>

        </header>

        <main>
            <div class="grid-container">
                <h3 class="word">What is HTML?</h3>
                <div class="def">
                    <p>HTML, also known as Hypertext Markup Language, is a front-end language that allows for text and information to be processed by a web browser. Not only do HTML elements allow for things like video, images, and links, but many also give semantic meaning.
                    </p>
                    <p>Although we may never see the semantic meaning this can be helpful when styling the website later down the line.</p>
                </div>
                <h3 class="word">What is CSS?</h3>
                <div class="def">
                    <p>CSS, officially known as Cascading Style Sheets, is a language used in conjunction with HTML to add "styling" to a webpage. This tells the browser how to display all the text that was coded in html</p>
                    <p>aka it makes all the text pretty by adding colors, fonts, and changing the page the layout</p>
                </div>
            </div>
            <h3>Stuck?</h3>
            <div>
                <p>yeah honestly just visit <a href="https://www.w3schools.com/default.asp" class="linky">w3schools.com</a> they probably have everything your looking for</p>
                <p>be sure to right click and inspect webpages for their code. this can give you better insight and coding inspo!</p>
            </div>
        </main>

        <footer>
            <ul id="footer-items">
                <li>&copy; 2022 Allison Chen</li>
                <li></li>
                <li><a href="index.html">home</a></li>
            </ul>
        </footer>


    </body>
</html>